# Soon
classes/plugins/online_manager
classes/plugins/trade
classes/plugins/SuperParty.py
classes/plugins/AutoTrade.py
classes/APIConnector.py
classes/NameGenerator.py

# IDE
.idea

# Python
python38
__pycache__/
*.py[cod]
*.pyc